@import '../../variabler.scss';

.feilvisningstabell {
    .typo-ingress {
      padding-bottom: 1rem;
    }

  .tabell--overflow {
    overflow-y: scroll;
    max-height: 52rem;
  }

  &__knapp {
    margin-top: 1rem;
    width: 100%
  }

  @media (min-width: $screen-md) {
    &__knapp {
      width: auto;
    }
  }
}


