@import '../../../node_modules/nav-frontend-core/less/_variabler';

@media (max-width: @screen-lg) {
  /* Mobil */
  .ansatte {
    .AnsattRad {
      border: 1px solid @navGra60;
      margin-bottom: 1rem;
      padding: 1rem;
      .col{
        padding-top: 1rem;
      }
    }
  }
}

@media (min-width: @screen-lg) {
  /* Desktop */
  .ansatte {
    .AnsattRad ~ .AnsattRad {
      .skjemaelement__label {
        display: none;
      }
      .slettknapp{
        margin-top: 0;
      }
    }
    .AnsattRad {
      .skjemaelement__label{
        display: block;
        margin-bottom: 10px;
      }
      .slettknapp{
        margin-top: 34px;
      }
    }
    .AnsattRad {
      .col{
        padding-top: 1rem;
      }
    }
  }
}

.ansatte {
  .slettknapp {
    line-height: 40px;
    height: 40px;
    display: block;
  }
  .radnr__value{
    line-height: 40px;
    height: 40px;
  }
  .ansatte__leggtilknapp{
    margin-top: 3rem;
  }
  .periode{
    width: 100%;
  }
}


