@import '../../../node_modules/nav-frontend-core/less/_variabler';

.Erklaring {
  max-width: 50rem;
  border-top: 1px solid @navMorkGra !important;
  padding: 1rem 0 2rem;
  margin-top: 6rem;
  .skjemaelement{
    margin-top: 2rem;
  }
}

.erklaring-label {
  margin-left: 2rem;
  margin-top: -0.125rem;
}

.erklaring-labeloverskrift {
  font-weight: bold;
}
