@import '../../variabler.scss';

.Erklaring {
  max-width: 50rem;
  border-top: 1px solid $navMorkGra !important;
  padding: 1rem 0 2rem;
  margin-top: 6rem;
  .skjemaelement{
    margin-top: 2rem;
  }
}
