@import '../../../node_modules/nav-frontend-core/less/_variabler';

.periodeliste {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0;

  .periode {
    border: 1px solid @navGra40;
    border-radius: 4px;
    padding: 0.5rem;

    & + .periode {
      margin-top: 1rem;
    }

    .inputelement {
      & + .inputelement {
        margin-top: 0.7rem;
      }

      & + .periodeknapp {
        display: inline;
        padding-left: 0.7rem;
        margin-top: 3.7rem;
      }
    }

    .input {
      border: 1px solid @navGra60;

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px @fokusFarge;
      }
    }

    .fom {
      cursor: pointer;
    }

    .dager {
      cursor: pointer;
    }
  }
}

.periodeknapp {
  padding: 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  text-decoration: underline;
  background: none;
  border: 0;
  color: @navBla;

  &:focus {
    color: @white;
  }
}

@media (min-width: 769px) {
  .periodeliste {
    .periode {
      display: flex;
      align-items: flex-start;

      .inputelement {
        width: 28%;

        &:first-child {
          width: 38%;
        }

        &:nth-child(3) {
          width: 18%;

          .skjemaelement__input.input--s {
            width: 100px;
          }
        }

        label {
          display: inline-block;
          margin-bottom: 0.5rem;
        }

        & + .inputelement {
          margin-top: 0;
        }
      }
    }
  }
}
