@import '../../node_modules/nav-frontend-core/less/core';
@import '../../src/basic';

.excelopplasting {
  &--alertstripe {
    padding: 0.7rem;
  }

  &--loading-spinner {
    margin: 1.4rem;
  }

  .alertstripe {
    margin-top: 1.4rem;
  }

  &__excellogo {
    margin: 0.5rem;
    float: left;
  }

  .fileinput {
    display: none
  }

  .filknapp {
    margin: 1rem 0rem;
  }

  .filknapp[disabled] {
    pointer-events:none
  }

  @media (max-width: @screen-sm) {
    .filknapp {
      width: 100%
    }
  }

  .advarsel {
    color: @redError;
    font-style: italic;
  }

  hr {
    margin: 2rem 0;
  }
}

