@import '../../node_modules/nav-frontend-core/less/core';
@import '../../src/basic';

.excelOpplastning {
  &--alertstripe {
    padding: 0.7rem;
  }

  &--header {
    margin-top: 1rem;
  }

  &--undertittel {
    margin-bottom: 0.7rem;
  }

  &--undertekst {
    margin-bottom: 0.7rem;
  }

  .alertstripe {
    margin-top: 1.4rem;
  }

  .bedriftsmeny__inner {
    max-width: @desktopLimitWidth;
  }

  .container {
    max-width: 50rem;
    border-bottom: 1px solid @navMorkGra;
    padding: 1rem 0 2rem;
  }


  .feiloppsummering {
    .typo-ingress {
      padding-bottom: 1rem;
    }
  }

  .excelLogo {
    margin: 5px;
    float: left;
  }

  .knapp {
    margin: 5px;

  }

  .fileinput {
    display: none
  }
}

@media (min-width: 769px) {
  .excelOpplastning {
    .container {
      padding: 1rem 0 2rem;

      &:last-child {
        padding: 1rem 0 4rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .excelOpplastning {
    .bedriftsmeny {
      .virksomhetsvelger {
        margin-left: 1rem;
      }

      .virksomhetsvelger__dropdownwrapper--apen {
        top: -1rem;
      }
    }
  }
}
