@import '../../node_modules/nav-frontend-core/less/_variabler';

.periodeliste {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0;

  .periode {
    border: 1px solid @navGra40;
    border-radius: 4px;
    padding: 0.5rem;

    & + .periode {
      margin-top: 1rem;
    }

    .skjemaelement {
      & + .skjemaelement {
        margin-top: 0.7rem;
      }

      & + .periodeknapp {
        margin-top: 0.7rem;
      }
    }

    .input {
      border: 1px solid @navGra60;

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px @fokusFarge;
      }
    }

    .fom {
      cursor: pointer;
    }

    .dager {
      cursor: pointer;
    }
  }
}

.periodeknapp {
  display: inline;
  padding: 0 0 0 0.7rem;
  background: none;
  border: none;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  text-decoration: underline;
  color: @navBla;
}

@media (min-width: 769px) {
  .periodeliste {
    .periode {
      display: flex;
      align-items: flex-end;

      .skjemaelement {
        width: 28%;

        &:first-child {
          width: 38%;
        }

        &:nth-child(3) {
          width: 18%;
        }

        label {
          display: inline-block;
          margin-bottom: 0.5rem;
        }

        & + .skjemaelement {
          margin-top: 0;
        }

        & + .periodeknapp {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
