@import '../node_modules/nav-frontend-core/less/core';
@import './basic';

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  .hidden#logout {
    display: inline-block!important;
    visibility: visible!important;
    min-height: auto;
  }
}

html, body, #app-root {
  height: 100%;
}

.limit {
  position: relative;
  padding: 1rem 1.4rem 2rem;
}

a {
  color: @navBla;
}

.sporenstreks-spinner {
  display: block;
  margin: 4rem auto;
}

@media (min-width: @screen-sm) {
  .limit {
    width: @desktopLimitWidth;
    margin: 0 auto;
    padding: 1rem 0 2rem;
  }
}
